---
layout: post.njk
permalink: false
title: "Adult Acne - Everything You Need to Know | Advanced Skin Clinic"
crumbTitle: "Adult Acne - Everything You Need to Know"
pageTitle: "Adult Acne - Everything You Need to Know"
description: "Adult Acne - Everything You Need to Know — an article from Advanced Skin Clinic, Rajkot."
---
<h2>Adult Acne - Everything You Need to Know</h2>
<p>Adult acne is usually defined as acne that affects people over the age of 25.</p>
<p>In about 1/2 of cases, acne ends after adolescence (around 18 – 20). For the other 1/2, it continues into adulthood. For a minority of people, particularly women, acne can subside after adolescence and then make a resurgence in adulthood.</p>
<p><strong>Adult Acne in Men: </strong>Exactly why acne continues in men is not fully understood, but normally it is as simple as “it hasn’t gone away yet.” That means, just like what caused acne in the first place, it is a potential combination of:</p>
<ol>
  <li>Hormones: Higher levels of testosterone and other male hormones, and/or higher sensitivity to these hormones lead to more acne.</li>
  <li>Genetics: If your father or mother also had adult acne, your chances go up.</li>
  <li>Physical irritation of the skin: Wearing a face mask for a sport or frequently wearing a baseball hat are two examples of physically irritating the skin that could keep a man in a cycle of acne. Even constantly touching the skin can aggravate acne.</li>
  <li>Stress, smoking: Medical evidence at this point shows us that when the body is chronically attacked with stress or with harmful substances, It has a harder time keeping its organs in top shape. The skin is the body’s largest organ, so while the evidence regarding stress, smoking, and acne is not yet overwhelming, replicated, and completely understood, it makes common sense that chronic negative assaults to the body could lead to more acne.</li>
</ol>
<p><strong>Treatment of Adult Men:</strong> Treating acne with a proper <a href="https://www.acne.org/regimen.html" rel="nofollow noopener" target="_blank">benzoyl peroxide regimen</a> can keep the vast majority of men clear. However, in some cases of severe, widespread (particularly if on large areas of the body), and scarring acne, <a href="https://www.acne.org/accutane.html" rel="nofollow noopener" target="_blank">isotretinoin </a> is an option that can be carefully and soberly considered.</p>
<p><strong>Adult Acne in Women:</strong> While girls as a whole have less acne than boys, this balance flips in adulthood, with more women struggling with adult acne after the age of 25. This is thought to be because of the fluctuating hormones during the <a href="https://www.acne.org/premenstrual-acne.html" rel="nofollow noopener" target="_blank">menstrual cycle</a>, but may also be due to:</p>
<ol>
  <li>Genetics: If your mother or father also had adult acne, you are also more likely to struggle with it.</li>
  <li>Physical irritation of the skin: Wearing a face mask for a sport or wearing a lot of makeup, particularly if you apply it or remove it roughly, are 2 examples of physically irritating the skin that make it much harder for a woman to stay clear. Even constantly touching the skin with your hands or hair, especially when you are using potentially pore-clogging hair products, can aggravate acne.</li>
  <li>Stress, smoking: Medical evidence at this point shows us that when anyone’s body is chronically attacked with stress or with harmful substances, it has a harder time keeping its organs in top shape. Based on the research that has been produced so far, when it comes to the body’s largest organ–the skin–and when we look at acne in particular, women may be more susceptible to both stress and smoking when compared to men.</li>
</ol>
<p><strong>Treatment of Adult Women:</strong> Treating acne with a proper <a href="https://www.acne.org/regimen.html" rel="nofollow noopener" target="_blank">benzoyl peroxide regimen</a> can keep the vast majority of women clear, even through the hormonal roller coaster a menstrual cycle entails. However, when blood tests show a hormonal imbalance, particularly when levels of androgens (male hormones) are overly elevated, hormonal treatment, including <a href="https://www.acne.org/do-birth-control-pills-clear-acne.html" rel="nofollow noopener" target="_blank">oral contraceptives (the birth control pill)</a> and/or anti-androgens, can be the treatment of choice. In some cases of very severe and scarring acne, a last resort option is <a href="https://www.acne.org/accutane.html" rel="nofollow noopener" target="_blank">isotretinoin (Accutane<sup>®</sup>)</a>, an oral medication that comes with many side effects–some of which can be lifelong–but can clear acne in extreme cases.</p>
<p><strong>Isotretinoin is the #1 birth defect-causing medication on the market. Consider it only if under the supervision of an experienced physician, and if it is taken, always use at least two (2) forms of responsible and dependable birth control.</strong> And as with any medication that permanently changes the body, have your eyes open to potentially long-term side effects.</p>
