---
layout: post.njk
permalink: /fda-approves-new-treatment-for-vitiligo/index.html
title: "FDA Approves New Treatment For Vitiligo | Advanced Skin Clinic"
crumbTitle: "FDA Approves New Treatment For Vitiligo"
pageTitle: "FDA Approves New Treatment For Vitiligo"
description: "FDA Approves New Treatment For Vitiligo — an article from Advanced Skin Clinic, Rajkot."
---
<h2>FDA Approves New Treatment For Vitiligo</h2>
<h2>Ruxolitinib?</h2>
<h2>Ruxolitinib?</h2>
<p>Ruxolitinib is the first treatment for nonsegmental vitiligo that can bring back pigmentation in patients. The FDA approved Incyte’s ruxolitinib topical cream for adults and children of the age group 12 and above. Prior to the approval of ruxolitinib cream, the only FDA-approved treatment for vitiligo was monobenzyl ether of hydroquinone, a topical drug that eradicates pigment to even out skin tones. Opzelura is also a topical cream of a Janus kinase (JAK) inhibitor.</p>
