---
layout: post.njk
permalink: /how-does-acne-form/index.html
title: "How Does Acne Form | Advanced Skin Clinic"
crumbTitle: "How Does Acne Form"
pageTitle: "How Does Acne Form"
description: "How Does Acne Form — an article from Advanced Skin Clinic, Rajkot."
---
<p>Even though acne is such a common disease, we still don’t know precisely how it forms. Traditionally, researchers believed that acne was caused by male hormones that are present in both males and females. The view was that increased male hormones led to more skin oil production and clogged pores. Inside these clogged pores, skin oil would build up, and acne bacteria would thrive on the trapped skin oil, ultimately causing inflammation in the skin and acne lesions. Recent research, however, has found that inflammation is present right from the start. Because of this new knowledge, researchers now classify acne as a chronic inflammatory disease, and not just a hormonal and bacterial affliction.</p>
<h3>STEPS IN ACNE FORMATION</h3>
<h2>Steps 1 - Triggering of Inflamation</h2>
<p>The main type of skin cell in our skin (called keratinocytes) constantly produce inflammatory molecules at low levels that act as a “surveillance system” to detect bacteria or something else that requires an immediate immune response. When triggered by something, this surveillance system will then increase its production of inflammatory molecules and cause inflammation. This inflammation can then induce changes in the tiny hair follicles that cover our skin (often called pores), leading to acne.</p>
<p><span style="font-size: 12pt; color: var( --e-global-color-391998aa );">factor(s) might trigger inflammation?</span></p>
<ul>
  <li>Acne bacteria (C. acnes)</li>
  <li>Changes in skin oil (sebum) composition</li>
  <li>Stress</li>
</ul>
<p><span style="font-size: 12.0pt; line-height: 115%;">But other factors, or a combination of factors, may be at play.</span></p>
<h2>Step 2: Hair Follicle (Pore) Changes</h2>
<p>Once inflammation is present in a hair follicle, it begins to stimulate an overproduction of the sticky skin protein, keratin. Changes in sebum composition also become evident at this point.</p>
<p>The overproduction of keratin and different composition of sebum may then stimulate even more inflammatory molecules and the formation of a clogged pore (comedone).</p>
<h2>Step 3: Formation of a Clogged Pore (Comedone)</h2>
<p>The clogged pore traps sebum and excess keratin, which begins to build up. This provides the perfect breeding ground for <em>C. acnes </em>bacteria. C.<em style="font-size: 15px;">acnes </em><span style="font-size: 15px;">can lead to increased production of the inflammatory molecule that leads to additional stimulation of keratin production. This further clogs the pore, and as sebum and keratin continues to build up inside the pore, a comedone (whitehead or blackhead) is formed</span></p>
<h2>Step 4: Rupture of the Clogged Pore (Comedone)</h2>
<p>Eventually, the buildup of keratin, sebum, and, usually, <em>C. acnes</em>, puts pressure on the pore wall. The pressure becomes too high and causes the wall to rupture, releasing the pore’s contents into the surrounding skin.</p>
<p>The body’s immune system reacts to the contents of the pore as a “foreign invader” and reacts with much more inflammation, which leads to the production of red and sore inflammatory acne lesions, such as a pustule</p>
