---
layout: post.njk
permalink: false
title: "What’s New in the Management of Acne Vulgaris | Advanced Skin Clinic"
crumbTitle: "What’s New in the Management of Acne Vulgaris"
pageTitle: "What’s New in the Management of Acne Vulgaris"
description: "A look at what's new in the medical management of acne vulgaris, from Advanced Skin Clinic, Rajkot."
---
<p>Drug development continues to focus on the challenge of treating acne effectively and safely. Inflammation is a backdrop to the commonly cited elements of the pathophysiology of acne</p>
<h3>PRACTICE POINTS</h3>
<ul>
  <li>Sarecycline is the first new antibiotic approved for acne in several years.</li>
  <li>Tazarotene foam 0.1% was relaunched to the market. The foam formulation attempts to impart moisturizing effects to offset potential irritation.</li>
  <li>Topical minocycline for acne optimizes the therapeutic effects while reducing systemic effects.</li>
  <li>Clascoterone and cannabidiol currently are under investigation for acne treatment.</li>
</ul>
<h2>Sarecycline: A Novel Tetracycline</h2>
<p>On antibiotics for acne, Dr. Stein Gold discussed sarecycline, which has improved anti-inflammatory properties and a narrower spectrum of activity than other antibiotics. This drug is dosed on a weight-based dosing, 1.5mg/kg/day and is FDA approved all the way to age 9. In Phase 3 studies, sarecycline significantly decreased the number of inflammatory lesions of acne in patients as compared to placebo. It was also effective at reducing truncal acne on the chest and back. Side effects were rare but included low rates of vaginal yeast infections and dizziness. There were uncommon side effects of sunburn, photosensitivity, and urticaria.</p>
<h2>Tazarotene Foam in Focus</h2>
<p>Similar to other retinoids, topical tazarotene has been associated with the potential for application-site irritation. This aqueous foam formulation of tazarotene was designed for ease of application and to attempt to impart moisturizing effects to offset potential irritation. It contains noncomedogenic light mineral oil, which is an emollient. The foam spreads easily, including on hair-bearing skin, with demonstrated penetration of the active drug into the epidermis and dermis. Nonetheless, compared to the gel formulation of tazarotene, the foam formulation was associated with reduced systemic exposure</p>
<h2>Topical Minocycline</h2>
<p>Also, topical minocycline is now FDA approved for acne in the 4% foam. There are a number of pre-clinical trials that were done that showed no evidence of phototoxicity, photoallergy, skin sensitization, or cumulative skin irritation. This drug has completed phase 3 clinical trials. So, what’s different about this drug? This foam formulation has a vehicle that has been shown that when it interacts with sebum, it actually decreases the melting point of sebum. Why do we care about this? When applied to the skin it’s shown to melt sebum a little bit and potentially, we might be able to unclog pores a little bit better allowing enhanced penetration of the drug</p>
<h2>Clascoterone: First-in-Class Topical</h2>
<p>Clascoterone cream 1% is a new chemical entity under investigation for the treatment of moderate to severe acne in patients 9 years and older. Clascoterone targets androgen receptors in the skin to block the effects of circulating endogenous androgens.Androgens are known to promote both sebum production and inflammatory responses within the follicle, contributing to the cycle of acne.21 Antiandrogen therapy would, therefore, inhibit excess sebum production and directly reduce the presence of certain inflammatory mediators in skin. This effect is expected to lead to reduced follicular plugging and a reduction in growth of <em style="font-weight: inherit;">P acnes</em> and its inflammatory by-products.</p>
