---
layout: post.njk
permalink: /what-is-acne/index.html
title: "What Is Acne? | Advanced Skin Clinic"
crumbTitle: "What Is Acne?"
pageTitle: "What Is Acne?"
description: "What Is Acne? — an article from Advanced Skin Clinic, Rajkot."
---
<p>Acne is a chronic inflammatory skin disease that starts after the onset of puberty when hormones increase. These hormones initiate to the production of skin oil, which is necessary for acne to form.</p>
<p>Acne can occur on any part of the body that has pores, which are tiny hair follicles. All parts of the body except the palms of the hands and soles of the feet have pores. However, we see acne mostly on the face and upper body (back, chest, back of the neck, shoulders) because these areas contain many pores, and the pores in these areas produce the most skin oil.</p>
<p>Acne lesions start when inflammation, increased skin oil production, and an overgrowth of skin cells causes pores to become clogged. This traps skin oil inside the pore where acne bacteria thrive and reproduce.</p>
<p>Inflammation plays a major and central role in acne development and is present from the very start of a clogged pore all the way until an acne lesion is completely healed. While all acne is inflammatory in nature, it is helpful to use the terms “non-inflammatory” to refer to acne that is not red and sore and “inflammatory” to refer to acne that is red and sore.</p>
<h2>Non Inflammatory Acne</h2>
<p>The very first phase of a clogged pore is called a <strong>microcomedone</strong>, which cannot be seen with the naked eye. Microcomedones form when an overproduction of skin cells narrows the opening of the pore and leads to a clog. Skin oil that normally drains to the surface gets trapped inside, and acne bacteria, which thrives in skin oil, reproduces rapidly.</p>
<p>The trapped skin oil and bacteria build up until they become visible to the naked eye, and the lesion is then called a comedone. There are two types of comedone:</p>
<ol>
  <li>Whiteheads</li>
  <li>Blackheads</li>
</ol>
<h2>Inflammatory Acne</h2>
<p>Inflammatory acne develops when so much pressure builds up inside a clogged pore that is breaks the wall of the pore, allowing the pore’s contents to leak into the surrounding skin.</p>
<p>The body’s immune system sees these contents as “foreign invaders” and activates inflammatory cells, most notably white blood cells, to fight the infection. The influx of inflammatory cells causes the acne lesion to become red and sore.</p>
<p>There are four types of inflammatory acne lesions:</p>
<ol>
  <li>Papules</li>
  <li>Pustules</li>
  <li>Nodules (severe)</li>
  <li>Cysts (severe)</li>
</ol>
